@charset "UTF-8";
@import "./common/var.css";

@component-namespace el {
  @b form {
    @m label-left {
      & .el-form-item__label {
        text-align: left;
      }
    }
    @m label-top {
      & .el-form-item__label {
        float: none;
        display: inline-block;
        text-align: left;
        padding: 0 0 10px 0;
      }
    }
    @m inline {
      & .el-form-item {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
      }
      & .el-form-item__label {
        float: none;
        display: inline-block;
      }
      & .el-form-item__content {
        display: inline-block;
        vertical-align: top;
      }
      &.el-form--label-top .el-form-item__content {
        display: block;
      }
    }
    .el-input {
      width: 146px;
    }
  }
  @b form-title {
    margin: 4px 0 20px;
    padding: 0 18px;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    color: var(--color-base-black);
    background-color: #f8f8f8;
    &:first-child {
      margin-top: 0;
    }
  }
  @b form-item {
    margin-bottom: 20px;
    @utils-clearfix;

    &:last-child {
      margin-bottom: 0;
    }

    & .el-form-item {
      margin-bottom: 0;
    }

    @e label {
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 13px;
      color: var(--color-extra-light-black);
      line-height: 1;
      /* TODO 调整此处边距可能导致多处表单需要调整 label 宽度，暂时不进行处理 */
      padding: 8.5px 12px 8.5px 0;
      box-sizing: border-box;
    }
    @e content {
      line-height: 30px;
      position: relative;
      font-size: 13px;
      @utils-clearfix;
    }
    @e error {
      color: var(--color-danger);
      font-size: 12px;
      line-height: 1;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      left: 0;
    }

    @when required {
      .el-form-item__label:before {
        content: '*';
        color: var(--color-danger);
        margin-right: 4px;
      }
    }

    @when error {
      & .el-input__inner,
      & .el-textarea__inner {
        border-color: var(--color-danger);
      }
      & .el-input-group__append,
      & .el-input-group__prepend, {
        & .el-input__inner {
          border-color: transparent;
        }
      }
    }
  }
  @b form-tips {
    font-size: 12px;
    color: #bbbbbb;
    @m inline {
      display: inline;
      margin: 0 10px;
    }
  }
}
